<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zouqiang.mapper.ClazzMapper">
    <select id="selectClazzById" parameterType="int" resultMap="clazzResultMap">
           select * from TB_CLAZZ where id=#{id}
    </select>
    <resultMap id="clazzResultMap" type="com.zouqiang.entity.Clazz">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <collection property="students" javaType="ArrayList" column="id" ofType="com.zouqiang.entity.Student"
                    select="com.zouqiang.mapper.StudentMapper.selectStudentByClazzId" fetchType="lazy">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="sex" column="sex"/>
            <result property="age" column="age"/>
        </collection>
    </resultMap>
</mapper>    